In [27]:
import pandas as pd
df=pd.read_csv("ml.csv")
# df["STATUS"].value_counts()
# df.describe(include="all")
# pd.to_datetime(df["date"],format='%d-%m-%Y')
# df["date"]=pd.to_datetime(df["date"],format="%d-%b-%Y")
# df.info()
# df.loc[0:3,["Series_reference","Period"]]
# df.iloc[0:4,[0,3]]
df2=df.loc[df["STATUS"]!="REVISED",["STATUS"]]
df2

     STATUS
10    FINAL
21    FINAL
22    FINAL
23    FINAL
24    FINAL
...     ...
1840  FINAL
1841  FINAL
1842  FINAL
1843  FINAL
1844  FINAL

[1534 rows x 1 columns]